.w-1200 {
  margin: 0 auto;
  width: 1200px; }

.mat-header {
  line-height: 38px;
  background: #e8e7e7;
  font-size: 14px;
  color: #7b7a7a; }
  .mat-header a {
    color: #7b7a7a;
    margin-right: 5px; }
  .mat-header span {
    color: #4d94fd;
    margin-left: 5px; }

.mat-con .w-1200 {
  background: #fff;
  box-shadow: 0 0 6px #000;
  border-radius: 5px; }

.mat-banner {
  text-align: center; }
  .mat-banner img {
    width: 100%;
    max-width: 1920px; }

.mat-con {
  padding: 45px 0 100px;
  background: #2f314d; }

.mat-con-hd {
  width: 1000px;
  line-height: 40px;
  margin-left: 100px;
  border-bottom: 2px solid #f16534; }
  .mat-con-hd h3 {
    padding: 0 10px 0 0;
    color: #f16534;
    font-size: 24px;
    font-weight: normal;
    display: inline-block; }
  .mat-con-hd span {
    color: #999;
    font-size: 14px; }

.mat-con-c1 {
  padding: 30px 0 60px; }
  .mat-con-c1 table {
    margin: 30px auto 0;
    text-align: center;
    border: 1px solid #e6e3e1; }
    .mat-con-c1 table th {
      border-left: 1px solid #e6e3e1;
      line-height: 40px;
      width: 15%;
      border-bottom: 1px solid #e6e3e1;
      font-weight: normal;
      font-size: 14px;
      color: #686868;
      background: #f0f0f0; }
      .mat-con-c1 table th:nth-of-type(1), .mat-con-c1 table th:nth-of-type(5) {
        width: 20%; }
      .mat-con-c1 table th:last-child {
        width: 10%; }
    .mat-con-c1 table td {
      line-height: 40px;
      color: #464444;
      border-left: 1px solid #e6e3e1;
      border-top: 1px solid #e6e3e1; }
      .mat-con-c1 table td span {
        display: inline-block;
        line-height: 18px; }
    .mat-con-c1 table a {
      color: #fa1d1d;
      display: block; }
    .mat-con-c1 table p {
      font-weight: normal; }

.mat_a {
  text-align: center; }
  .mat_a a {
    border-radius: 3px;
    margin: 0 auto;
    color: #fff;
    line-height: 36px;
    display: inline-block;
    width: 200px;
    font-size: 14px;
    border: 1px solid #f27e55; }
  .mat_a a:nth-of-type(1) {
    margin-top: 15px;
    display: none;
    background: -webkit-linear-gradient(180deg, #fa9b7a, #f95e34);
    background: -o-linear-gradient(180deg, #fa9b7a, #f95e34);
    background: -moz-linear-gradient(180deg, #fa9b7a, #f95e34);
    background: linear-gradient(180deg, #fa9b7a, #f95e34); }
  .mat_a a:nth-of-type(2) {
    border-color: #f7a221;
    background: -webkit-linear-gradient(180deg, #fcbf65, #f76429);
    background: -o-linear-gradient(180deg, #fcbf65, #f76429);
    background: -moz-linear-gradient(180deg, #fcbf65, #f76429);
    background: linear-gradient(180deg, #fcbf65, #f76429); }

.mat_list3 {
  display: inline-block;
  width: 322px;
  position: relative; }
  .mat_list3 div {
    position: absolute;
    top: 33px;
    left: 0;
    z-index: 20;
    display: none;
    background: #fff;
    border: 1px solid #848484;
    width: 320px;
    padding: 5px 0;
    max-height: 160px;
    overflow-y: auto; }
    .mat_list3 div b {
      display: block;
      line-height: 24px;
      cursor: pointer;
      font-size: 13px;
      padding-left: 10px;
      font-weight: normal;
      color: #666; }
      .mat_list3 div b.active {
        color: #fff;
        background: #ffa388; }
      .mat_list3 div b:hover {
        background: #fa7d58;
        color: #fff; }
  .mat_list3 input {
    cursor: pointer;
    position: relative;
    z-index: 10;
    background: none; }
  .mat_list3::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 5px;
    border-color: #848484 transparent transparent transparent;
    right: 10px;
    top: 50%;
    margin-top: -2px; }

.mat-input {
  width: 446px;
  margin: 40px auto 0;
  font-size: 14px; }
  .mat-input li {
    margin-bottom: 15px; }
  .mat-input input, .mat-input textarea {
    border-radius: 3px;
    border: 1px solid #a99e9c;
    line-height: 20px;
    padding: 6px 5px;
    width: 310px;
    font-size: 12px; }
  .mat-input em {
    color: #fc263f; }
  .mat-input span {
    color: #43413f;
    width: 96px;
    line-height: 20px;
    font-weight: bold;
    text-align: right;
    display: inline-block; }
    .mat-input span em {
      margin-right: 3px;
      position: relative;
      top: 2px; }
    .mat-input span.bz {
      vertical-align: top; }
  .mat-input i {
    margin-left: 5px;
    color: #999; }
  .mat-input textarea {
    height: 40px; }

.mat-con-hd2 {
  border-bottom-color: #f44156; }
  .mat-con-hd2 h3 {
    color: #f44156; }

.mat-con-c2 {
  padding-bottom: 50px; }
  .mat-con-c2 ul {
    margin-top: 0;
    padding-top: 40px; }
    .mat-con-c2 ul input[type=submit] {
      cursor: pointer;
      width: 300px;
      background: -webkit-linear-gradient(180deg, #fa7d77, #ce3d3e);
      background: -o-linear-gradient(180deg, #fa7d77, #ce3d3e);
      background: -moz-linear-gradient(180deg, #fa7d77, #ce3d3e);
      background: linear-gradient(180deg, #fa7d77, #ce3d3e);
      border: 1px solid #c92b2b;
      color: #fff;
      height: 36px;
      margin: 50px auto 0;
      font-size: 14px;
      display: block; }

/*# sourceMappingURL=materiel.css.map */
